*{
    font-family: Arial, Helvetica, sans-serif;
}
main > p{
    text-indent: 50px;
}
.Body{
    
    background-image: url('images/background\ 1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 1000px;
}
.styledFontBody {    
    font-size: 20px;
}
/*------------------------------ Main Menu ------------------------------*/
.mainMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #636363;    
    box-shadow: 0 7px 5px grey;  
}
.mainMenu img{
    margin: 4px;
}
.icon {
    display: flex;
}
.iconBasket {
    justify-content: flex-end;    
}
.iconBasket:hover{
    background-color: #FAE52C;    
    border-radius: 5px;
    transition: background-color 0.8s;
}

.mainMenu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    text-align: center;
    list-style-type: none;
    margin: 0;        
    padding: 0;
}
.mainMenu li{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}
.mainMenu li a{
    display: inline-block;
    color: black;
    text-align: center;
    
    text-wrap:nowrap;
    padding: 10px 26px;/*<-----*/
    text-decoration: none;
    font-size: 20px;
}
.mainMenu li:hover{
    background-color: #FAE52C;
    border-radius: 5px;
    transition: background-color 0.8s;
}
.currentPage{
    background-color: tomato;
    border-radius: 5px;    
}
@media(max-width:545px){
    .mainMenu ul{
        flex-direction: column;
    }
}
@media(min-width:545px) and (max-width:600px){
    .mainMenu li{
        flex: 50%;
    }
}
@media(min-width:600px) and (max-width:830px){
    .mainMenu li{
        flex: 33.33%;
    }
}
@media(min-width:830px){
    .mainMenu li{
        flex: 20%;
    }
    .mainMenu ul{             
        width: 80%;
    }
}


/*----------------------------- Home page adv -----------------------------*/
 .advertisement{
    display: flex;   
    border-bottom: 5px solid black;    
    width: 100%;    
    box-shadow: 0 10px 5px rgb(103, 103, 103);
}
.advElement{
    box-sizing: border-box;
    width: 50%;       
    background-position: center;
    background-size: 100% 100%;      
}
.advElement img{
    width: 100%;
    height: 100%;
}
.advertisement div + div{
    border-left: 5px solid black;
}

/*----------------------------- Pizzeria description -----------------------------*/
#pizzeriaDescription{
    /*font-size: 23px;*/
    width: 90%;
    text-align: justify;
    line-height: 1.8;
    margin-left:5% ;
}
/*.specialSpan{
    font: italic bold 30px 'Brush Script MT', cursive;
    color: #d1af02;
    background-color: #636363;
    padding: 5px 10px;

    border: 2px solid black;    
    border-radius: 5px;  
}*/
/*----------------------------- Main information -----------------------------*/
.mainInformation{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}
.mainInformationItem{
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: border-color 0.8s;
}
.informationItemImg{
    width: 40px;
    height: 40px;
}
.mainInformationItem p{
    /*font-size: 23px;*/
    margin-left: 20px;
}
.mainInformationItem:hover{
    border-color: #8a7302;    
}
/*----------------------------- Pizza list -----------------------------*/
.pizzaList{
    width: 20%;
    margin: 60px 0 0 40%;
    padding:50px 40px;
    background-image: url('images/background\ 2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.pizzaList h3{
    text-align: center;
}
.pizzaListItems{
    list-style-type: upper-roman;    
}
.pizzaListItems ul{
    list-style-image: url('images/pizza\ piece\ icon.png') ;
} 
@media(max-width:500px){
    .pizzaList{
        width: 98%;
        margin-left: 1%;
    }
}
@media(min-width:500px) and (max-width:900px){
    .pizzaList{
        width: 60%;
        margin-left: 20%;
    }
}
@media(min-width:900px) {
    .pizzaList{
        width: 40%;
        margin-left: 30%;
    }
}
/*----------------------------- User form -----------------------------*/
.userForm{   
    width:30%;
    box-shadow: 7px 7px 5px gray ;
    background-image: url('images/background\ 3.jpg');
    background-size: 100% 100%;
}

.userForm input[type*="text"], .userForm input[type*="email"], textarea{    
    width:90%; 
    height: 25px;
    margin-left: 5%;    
    box-shadow:5px 5px 5px gray inset;
    background-color: rgb(245, 243, 192);   
}
.userForm textarea{
    height: 300px;
}
.userForm p{
    margin-left: 5%;
}
.userForm input[type*="submit"]{
    width:40%;
    margin-left: 30%;
}

@media(max-width:520px){
    .userForm{
        width: 100%;        
    }
}
@media(min-width:520px) and (max-width:900px){
    .userForm{
        width: 60%;       
    }
}
@media(min-width:900px) {
    .userForm{
        width: 40%;        
    }
}
/* @media(max-width:1000px){
    .userForm{   
        width:45%;
    }
} */
/*----------------------------------------------------------*/
/*----------------------------- Pizza -----------------------------*/
/*----------------------------------------------------------*/
.pizzaType{
    display: flex;  
    flex-direction: column; 
    justify-content: center;   

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-top: 2px solid #636363;
}
.pizzaType>p{
    font-size: 24px;
    font-weight: 900;
}
.pizzaCatalog{         
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-content: flex-start;
    gap: 80px;
}

.pizzaOffer{
    position: relative;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width:230px;
    height:300px;    
    background-color: white;
    box-shadow: 7px 7px 5px 6px gray;
    border-radius: 0 0 10px 10px;
}
.pizzaDisplay{
    width:100%;
    height:65%;
}
.parameter{
    position: absolute;
    display: block;
    width: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
    right: 0;
}
.mass{
    margin: 10px 10px 0 0;
}
.diameter{
    margin: 35px 10px 0 0;
}
.pizzaDisplay img{
    width: 100%;
    height: 100%;
}


.pizzaDescription{    
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;    
}
.pizzaName{    
    margin: 15px 0 0 0;
    font-size: 22px;
    font-weight: 500;
}

.orderInfo{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.pizzaPrice{    
    font-size: 20px;
    
}
.orderButton{    
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #d1af02;    
    font-size: 22px;
    transition: background-color 0.8s;
}
.orderButton:hover{
    background-color: #eeea25;
}

/*----------------------------------------------------------*/
/*----------------------------- Registration Page -----------------------------*/
/*----------------------------------------------------------*/
.registrationForm{
    margin-top: 50px;
    box-shadow: 7px 7px 5px gray inset;
}
.registrationForm input{
    width: 220px;
    height: 25px;
}
/*----------------------------------------------------------*/
/*----------------------------- Cart Page -----------------------------*/
/*----------------------------------------------------------*/
.buyerOrder{
    display: flex;  
    flex-direction: column; 
    justify-content: center;   

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.buyerOrder>p{
    font-size: 24px;
    font-weight: 900;
}
.orderList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 80px;
}
.quantity{
    display: flex;
    align-items: center;
    margin: 0;
    height: 20px;
}
.changeQuantity{
    border-radius: 5px;
    border: 1px solid black;
    background-color: #d1af02;
    text-align: center;
    width: 15px;
}
.orderList .orderInfo{
    height: 45px;
}
@media(max-width:620px){    
    .buyerOrder .orderList{
        justify-content: center;         
    }
}